@font-face {
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-family: Regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
p {
  font-size: 1rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.67rem;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  min-height: 100%;
  font-family: Atkinson_Hyperlegible, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #121212;
  background: #efefef;
}
*::selection {
  background: #aaa;
}
img {
  user-select: none;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  width: 600px;
  gap: 50px;
}
.sliders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin: 3rem 0;
}
#square {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  border: 1px solid #aaa;
}
.inputs {
  height: 5px;
  width: 300px;
}
#red-slider {
  accent-color: #fa1c1c;
}
#green-slider {
  accent-color: #008000;
}
#blue-slider {
  accent-color: #1d1dfb;
}
